{% extends 'base.html' %}
{% block title%}Home - {% endblock%}
{% block content %}
{% load static %}
<div class="row">
{% for post in category_posts %}
<div class="col-md-4 mb-3">
    <div class="card">
        {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class='fs-6'>Category :<a href="{% url "category" post.category%}">{{post.category}}</a></p>
          <p class="card-text">{{post.author.first_name}} {{post.author.last_name}}</p>
          <a href="{% url "article" post.pk %}" class="btn bg-primary-subtle text-primary">Read Full Article</a>
        </div>
      </div>
</div>   
{% endfor %}
</div>
{% endblock %}