{% extends 'base.html' %}
{% block title%} Update User Profile Info  - {% endblock%}
{% block content %}
{% load static %}
<div class="row justify-content-center pb-4">
<div class="col-8">    
<p class='display-5'>Update Profile Info! </p>
<form method="POST" enctype="multipart/form-data" >
{% csrf_token %}
{{form.media}}
{{form.as_p}}
<button class='btn bg-primary-subtle text-primary'>Update</button>
</form>
<p class='text-center'><a href='/home' class="btn btn-secondary">Home</a></p>   
</div>
</div>
</div>
<script>
    document.getElementById('id_user').value={{user.id}}
 </script>
{% endblock %}